<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>動平衡試驗紀錄表</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<style>
    table, td, th {
        border: 1px solid black;
    }
    table {

        border-collapse: collapse;
    }
    @media print{
        @page{
        size: A4 portrait;
        width: 90%;
        margin: 5mm;
    }
  }
</style>

<body style="font-family: 'Noto Sans TC';">
    <center width: 90%;>
        <table cellspacing="0" border="0">
            <colgroup width="87"></colgroup>
            <colgroup width="154"></colgroup>
            <colgroup span="8" width="80"></colgroup>
            <tr>
                <td colspan=2 height="104" align="left" valign=middle style="border: 1px solid rgb(255, 255, 255);"><img src="" width=172 height=104 hspace=5 vspace=5></td>
                <td colspan=8 height="104" align="left" valign=middle style="border: 1px solid white;"><span style="font-size: 42px;">X&nbsp;&nbsp;X&nbsp;&nbsp;企&nbsp;&nbsp;業&nbsp;&nbsp;有&nbsp;&nbsp;限&nbsp;&nbsp;公&nbsp;&nbsp;司</span></td>
            </tr>
            <tr style="border: 1px solid rgb(246, 8, 8);">
                <td colspan=10 height="76" align="center" valign=middle  style="border: 1px solid white;"><font face="" size=6 color="#000000">動平衡試驗紀錄表</font></td>
            </tr>

            
            
            <tr style="border: 1px solid white;">
                <td colspan=2 height="26" align="right" valign=middle  style="border: 1px solid white;"><font face="" size=3 color="#000000">工令號碼：</font></td>
                <td  colspan=2 align="left" valign=middle style="border: 1px solid white;"><font size=3 color="#000000">2107-0348</font></td>
                <td colspan=2 height="26" align="right" valign=middle  style="border: 1px solid white;"><font face="" size=3 color="#000000">試驗日期：</font></td>
                <td colspan=4 align="left" valign=middle style="border: 1px solid white;"><font size=3 color="#000000">2021-09-27</font></td>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;客戶名稱<br>&nbsp;&nbsp;Customer</font></td>
                <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 rowspan=2 align="center" valign=middle><font size=4 color="#000000">XXX股份有限公司</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;品名<br>&nbsp;&nbsp;Part Name</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font size=4 color="#000000">TFP03-4</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;風機編號</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font size=4 color="#000000">1234-5678</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;風機材質<br>&nbsp;&nbsp;Material</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font size=4 color="#000000">SUS304</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;風輪方向<br>&nbsp;&nbsp;Direction</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font size=4 color="#000000">C</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;實際使用轉速<br>&nbsp;&nbsp;Max service speed</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">N&#65306;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">3520</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">R.P.M</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;試驗時轉速<br>&nbsp;&nbsp;Balancing speed</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">N&#65306;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">800</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">R.P.M</font></td>
                </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;平衡等級<br>&nbsp;&nbsp;Balancing degree</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">G：2.5</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;修正方式<br>&nbsp;&nbsp;Correcion Method</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">加重</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;風輪直徑</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">&phi;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">600</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">mm</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">&#23380;&#24465;&phi;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">36</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">mm</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;修正情況<br>&nbsp;&nbsp;Correction Unbalance</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">L &#24038;&#37002; Left Plane</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">R &#21491;&#37002; Right Plane</font></td>
                </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;修正面半徑<br>&nbsp;&nbsp;Correction Radius</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">DR&#65306;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">265</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">mm</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">DR&#65306;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">265</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">mm</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;進場時平衡狀況<br>&nbsp;&nbsp;Initid Unbalance</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">256</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">&#65308;&#12290;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">14.5</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">g</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">178</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">&#65308;&#12290;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">10.5</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">g</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=2 height="59" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;修正後平衡狀況<br>&nbsp;&nbsp;Residud Unbalance</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">347</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">&#65308;&#12290;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">0.44</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">g</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">335</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">&#65308;&#12290;</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">0.38</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" rowspan=2 align="center" valign=middle><font face="" size=4 color="#000000">g</font></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=4 height="117" align="left" valign=middle><font face="" size=4 color="#000000">&nbsp;&nbsp;備註<br>&nbsp;&nbsp;Remark</font></td>
                <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 rowspan=4 align="left" valign=middle><font size=3 color="#000000"><div style="margin-left: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem eligendi commodi. Culpa, ducimus rerum architecto, ex itaque laboriosam corrupti quisquam iure eos, debitis sit consequuntur magni inventore beatae ipsa.</div>
                </font>
                </td>
                    
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="border-top: 2px solid #000000; border: 1px solid white;" colspan=10 height="29" align="left" valign=middle><font color="#000000"><br></font></td>
            </tr>
            <tr>
                <td height="26" align="left" valign=middle  style="border: 1px solid white;"><font face="" size=4 color="#000000">試驗員：</font></td>
                <td colspan=4 align="left" valign=middle style="border: 1px solid white;"><font size=4 color="#000000">檢驗員A</font></td>
                <td align="left" valign=middle style="border: 1px solid white;"><font face="" size=4 color="#000000">核對：</font></td>
                <td colspan=4 align="left" valign=middle style="border: 1px solid white;"><font size=4 color="#000000">審核人員B</font></td>
            </tr>
        </table>
	</center>
</body>
</html>
