<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>出廠保證書-西式橫書</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<style>
    /* table, td, th {
        border: 1px solid rgb(80, 72, 72);
    }
    table {
        width: 94%;
        border-collapse: collapse;
    } */
    
		/* body,div,table,thead,tbody,tfoot,tr,th,td,p {font-size:small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  } 
		a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
		comment { display:none;  }  */
	
    @media print{
        @page{
        size: A4 portrait;
        width: 90%;
    }
  }
  /* TODO */
  /* table, td, th {
	border: 1px solid black;
} */
</style>

<body style="font-family: 'Noto Sans TC';">
    <center width: 90%;>
        <table cellspacing="0" border="0">
            <colgroup width="431"></colgroup>
            <colgroup width="557"></colgroup>
            <tr>
                <td colspan=2 height="70" align="center" valign=middle><font size=7 color="#000000"><b>出&ensp;廠&ensp;保&ensp;證&ensp;書</b></font></td>
            </tr>

            <tr>
                <td height="15" align="center" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="center" valign=middle><font  size=4 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td colspan=2 height="35" align="center" valign=middle><font size=5 color="#000000">茲保證本公司產品</font></td>
            </tr>
            <tr>
                <td colspan=2 height="35" align="center" valign=middle><font size=5 color="#000000">透浦式風機TF10-4型300馬力計120部</font></td>
                </tr>
            <tr>
                <td height="28" align="center" valign=middle><font  size=6 color="#000000"><br></font></td>
                <td align="center" valign=middle><font  size=6 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td colspan=2 height="37" align="center" valign=middle><font size=5 color="#000000">在正常使用情況下為期 12 個月（驗收合格後），或是</td>
                </tr>
            <tr>
                <td colspan=2 height="37" align="center" valign=middle><font size=5 color="#000000">交貨後 18 個月，或是何者先到，在有效期間內如發生</font></td>
                </tr>
            <tr>
                <td colspan=2 height="37" align="center" valign=middle><font size=5 color="#000000">&ensp;機件故障均免費服務，如人為因素或人力不可抗拒之損</td>
                </tr>
            <tr>
                <td colspan=2 height="37" align="center" valign=middle><font size=5 color="#000000">
                    壞或是更換零件，僅酌收材料成本費。&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</td>
                </tr>
            <tr>
                <td height="37" align="left" valign=middle><font  size=6 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  size=6 color="#000000"><br></font></td>
            </tr>
            <!-- <tr>    
                <td align="left" valign=middle><font  size=6 color="#000000"><br></font></td>
                <td height="37" align="center" valign=middle><font size=5 color="#000000">此致</font></td>
            </tr> -->
            <tr>
                <td colspan=2 height="37" align="center" valign=middle><font size=5 color="#000000">此致<br>XXXXXXX股份有限公司</font></td>
            </tr>
            <!-- <tr>
                <td height="27" align="center" valign=middle><font  size=6 color="#000000"><br></font></td>
                <td align="center" valign=middle><font color="#000000"><br></font></td>
            </tr> -->
            <!-- <tr>
                <td height="37" align="center" valign=middle><font  size=6 color="#000000"><br></font></td>
                <td align="center" valign=middle><font color="#000000"><br></font></td>
            </tr> -->
            <!-- <tr>
                <td height="28" align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  color="#000000"><br></font></td>
            </tr> -->
            <tr>
                <td rowspan=3 height="220" align="right" valign=middle><font color="#000000"><br>
                    <img src="" width=215 height=137 hspace=10 vspace=42>
                </font></td>
                <td rowspan=3 align="left" valign=middle><br><b><font size=5 color="#000000">
                    XX企業有限公司</font></b><br>
                    <font  size=4 color="#000000">地址：XX市XX區XX路XX巷71號<br>
                                                電話：XX-XXXXXXX<br>
                                                傳真：XX-XXXXXXX</font>
                </td>
            </tr>
            <tr>
                </tr>
            <tr>
                </tr>
            <tr>
                <td colspan=2 height="51" align="center" valign=middle><font size=6 color="#000000"><b>&emsp;中華民國
                &ensp;109&ensp;年&ensp;05&ensp;月&ensp;20&ensp;日</b></font>
                </td>
            </tr>
            <tr>
                <td height="8" align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td colspan=2 height="28" align="center" valign=middle><font size=5 color="#000000">風機總匯</font></td>
            </tr>
            <tr>
                <td height="28" align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td colspan=2 height="28" align="center" valign=middle><font size=4 color="#000000">1.透浦式風機&emsp;&emsp;2.翼截式風機&emsp;&emsp;3.多翼式風機</font></td>
            </tr>
            <tr>
                <td height="28" align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td colspan=2 height="28" align="center" valign=middle><font size=4 color="#000000">4.屋頂式風機&emsp;&emsp;5.軸流式風機&emsp;&emsp;<span style="visibility:hidden;">3.多翼式風機</span>
                </font>
                </td>
            </tr>

            <tr>
                <td height="48" align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td height="48" align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
                <td align="left" valign=middle><font  size=4 color="#000000"><br></font></td>
            </tr>
            <tr>
                <td colspan=2 height="28" align="center" valign=middle><font size=4 color="#000000">訂購案號：18MT11700316&emsp;製造號碼：1710-0500</font></td>
                </tr>
        </table>
	</center>
</body>
</html>
